{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
}}
{{!
    @template local_annualtrainingforecast/gantt_chart

    Year calendar shell; rendering is completed by AMD (gantt.js).

    Example context (json):
    {
        "startdate": 1609459200,
        "enddate": 1640995199,
        "totaldays": 365,
        "items": [
            {
                "id": 1,
                "parentid": 1,
                "name": "Course 1",
                "parentname": "Parent Course 1",
                "start": 1612137600,
                "end": 1614556800,
                "status": 0,
                "completed": 0,
                "statusclass": "upcoming"
            }
        ]
    }
}}

<div class="gantt-container-wrapper">
    <div id="gantt-data" class="sr-only" aria-hidden="true">
        {{#items}}
        <div class="gantt-item-data"
             data-id="{{id}}"
             data-parentid="{{parentid}}"
             data-name="{{name}}"
             data-parentname="{{parentname}}"
             data-start="{{start}}"
             data-end="{{end}}"
             data-status="{{status}}"
             data-completed="{{completed}}"
             data-statusclass="{{statusclass}}"
             data-isgeneralevent="{{#isgeneralevent}}1{{/isgeneralevent}}{{^isgeneralevent}}0{{/isgeneralevent}}">
            <span class="atf-item-desc-payload sr-only">{{description}}</span>
        </div>
        {{/items}}
    </div>

    <div id="gantt-timerange" class="sr-only" aria-hidden="true"
         data-start="{{startdate}}"
         data-end="{{enddate}}"
         data-totaldays="{{totaldays}}">
    </div>

    <div class="atf-year-calendar-root" id="atf-year-calendar-root"></div>
</div>
